
<% const isFavourite =  profile&&profile.favourites.map(a=>a.id).includes(map.id) ? 'favourite' : ''%>
<% const isContributor =  profile&&profile.contributions.map(a=>a.id).includes(map.id) ? 'contributor' : ''%>

<% const link = '/maps/'+ map.id %>
<%  var urls = map.urls ? map.urls.filter(Boolean) : null %>
<% let url =  (urls) ? urls[0] : "https://maps.twomoons.de/styles/klokantech-basic/13/2817/4944.png" %>
<% let _id = (isFavourites ? 'f_map_' : '') + map.id%>
  <div id='<%=_id%>' class="card map-card" style="max-width: 18rem; min-width:18rem; margin-bottom: 20px">
    <img class="card-img-top" src=<%= url %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=map.name%></h5>
      <p class="card-text">Some information about the map goes here!</p>
      <a href="<%=link%>" class="badge badge-light">View map</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago
        <div class="map_contributors">
            <i class="fa fa-users <%=isContributor%>"></i> 17  
        </div>
        <div class="map_favourites">
            <i class="fa fa-heart <%=isFavourite%>" data-map-id="<%=map.id%>"></i> 253
        </div>
      </small>
    </div>
  </div>